 @charset "utf-8";



 /*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}


body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

body{
    color: #333333;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 1.5px;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic", sans-serif;
}

.header {
    position: fixed;
    width: 100%;
    height: 75px;
    background-color: #fff  ;
    text-align: right;
    z-index: 100;
}

.header .inner {
    position: relative;
    width: 1170px;
    padding: 15px 0;
    margin: 0 auto;
}

.header .logo {
    position: absolute;
    top: 7px;
    left: 0;
}
.header .logo img {
    position: relative;
    top: 7px;
}

.key-visual{
    position: relative;
    height: 500px;
    background: url("iSara_images/main.jpg") no-repeat center center /cover;
    /* center center の部分は上下　左右の位置(position)　/を入れるとbackground- sizeが入れられる */
}

.key-visual_ttl {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.key-visual_ttl h2 {
    font-size: 28px;
    line-height: 2em;
}

.key-visual_ttl p {
    font-size: 20px;
    line-height: 1em;
}

.key-visual_logo {
    margin-bottom: 40px;
}

.key-visual_logo img {
    width: 300px;
}



.sec1 {
    padding: 30px 0 90px ;
    background-color: #EBB94D;
    color: #fff;
    text-align: center;
}

.sec1 h3 {
    font-size: 22px;
    margin-bottom: 30px;
}

.sec1 ul {
    font-size: 18px;
    font-weight: bold;
}

.sec1 ul li + li {
    margin-top: 35px;
}

.sec1 .notice {
    display: inline-block;
    font-size: 18px;
    color: #c7254e;
    background-color: #fff;
    border-radius: 5px;
    line-height: 1.4em;
    font-weight: bold;
}

.sec1 .btn {
    margin: 45px 0 75px ;
}

.sec1 .btn a {
    height: 104px;
    font-size: 28px;
    font-weight: bold;
    line-height: 104px;
    padding: 0 280px;
    border-radius: 52px;
}

.logo img{
    width: 130px;
    height: 45px;
}

.btn{
    display: inline-block;
}

.btn a {
    display: block;
    height: 45px;
    padding: 0 40px;
    background-color: #da6b64;
    color: #fff;
    line-height: 45px;
    border-radius: 45px;
    text-decoration: none;
}

.btn a:hover{
    background-color: #d94940;
}

.main {
    padding-top: 75px;
}

.footer{
    background-color: #ececec;
    font-size: 10px;
    text-align: center;
    padding: 40px 0 25px 0;
}

.footer p:first-of-type {
    margin-bottom: 65px;
}

.footer a {
    color: #337ab7;
    text-decoration: none;
}

.footer a:hover {
    color: #23527c;
    text-decoration: underline;
}

